

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

input[type=number]{
  margin-left: 10px;
  width: 85%;
  padding: 3px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

h1{
  margin-top: 10px;
  text-align: center;
}

.navMenu {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 150px;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(220px);
  transform: translateX(220px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(340px);
  transform: translateX(340px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}



button, select{
    margin-left: 10px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

select {
    padding: 2px;
    width: 140px;
    margin-right: 10px;
}

table {
    margin-top: 100px;
    margin-left: 400px;
    left: 400px;
    width: 1100px;
    border-collapse: collapse;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.checkBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
}

#searchDiv {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 100px;
}

#tableQuery{
  position: absolute;
  margin-left: 0%;
  margin-top: 0;
  width: 1100px;
}

#wrapperDiv {
  padding-left: 100px;
  display: grid;
  grid-template-rows: repeat(5, 1tr);
  gap: 10px;
}

#wrapperElement {
  gap: 10px;
}

#tablePayback{
  position: absolute;
  margin-left: 0%;
  margin-top: 0;
  width: 1100px;
}

.loader {
  margin: auto;
  border: 10px solid #ccc;
  border-radius: 50%;
  border-top: 10px solid #fddb3a;
  width: 50px;
  height: 50px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p {
  margin-left: 400px;
  margin-bottom: 10px;
  margin-top: 20px;
}